body {
    background: linear-gradient(-45deg, rgb(222, 172, 8), white);
    background-size: cover;
    height: 100vh;
    margin-top: 5%;
}

.introduction {
    text-align: center;
    background-color: white;
    border: solid;
    border-radius: 5px; 
    padding:5%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: large;
    box-shadow: 5px 5px 10px;
}

.todolist {
    margin: 5%;
}

.formcontainer {
    text-align: center;
}

.listcontainer {
    background-color: white;
    border: solid;
    border-radius: 5px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 5%;
    content: 1%;
    font-size: x-large;
    list-style-type: circle;
    box-shadow: 5px 5px 10px;
}

.listcontainer button {
    position: absolute;
    right: 35%;
    font-size: medium;
    border: solid;
    background: linear-gradient(-45deg, red, lightcoral);
    border-color: black;
    border-radius: 25px;
    box-shadow: 3px 3px 10px;
}

.container {
    padding: 1%; 
    /* margin: 5%; */
}

input {
    text-align: center;
    font-size: x-large;
    box-shadow: 5px 5px 10px;
}

.save {
    background-color:rgb(11, 151, 231);
    font-size: x-large;
    border: solid;
    color:white;
    border-radius: 20px;
    margin-left: 1%;
    padding: 10px;
    border-color:black;
    box-shadow: 5px 5px 10px black;
}

.task {
    font-size: x-large;
    border: solid;
    border-radius: 10px;
}

.completed {
    text-decoration: line-through;
    list-style-type: disc;
}