body {
    background: linear-gradient(-45deg, blue, lightblue);
    background-size: cover;
    height: 100vh;
    margin-top: 5%;
}

.introduction {
    text-align: center;
    background-color: white;
    border: solid;
    border-radius: 5px; 
    padding:5%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: large;
}

.todolist {
    margin: 5%;
}

.formcontainer {
    text-align: center;
}

.listcontainer {
    background-color: white;
    border: solid;
    border-radius: 5px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 5%;
    content: 1%;
    font-size: x-large;
}

.listcontainer button {
    position: absolute;
    right: 35%;
    font-size: medium;
    border: solid;
    background: linear-gradient(-45deg, red, lightcoral);
    border-color: black;
    border-radius: 25px;
}

.container {
    padding: 1%; 
    /* margin: 5%; */
}

input {
    text-align: center;
}

.save {
    font-size: x-large;
    border: solid;
    border-radius: 10px;
    margin-left: 1%;
}

.save:hover {
    background-color:black;
    color: white;
    border-color: black;
}

.task {
    font-size: x-large;
    border: solid;
    border-radius: 10px;
}